/*
  Default rules
*/

:root {

  --pattern-1: url('../img/patterns/p1.png');
  --pattern-1: url('../img/patterns/p2.png');

  --main-user-color:#3EA2F4; /* El de los elementos principales*/
  --main-user-color-2:#55A28E; /* El de los elementos principales*/
  --main-user-color-inverted: #FFF; /*Su color complementario*/

  --main-section-background:#1D212F; /*Color de fondo de las secciones*/
  --main-body-background: #F1F3F4; /*Color de fondo de las secciones*/
  --main-opt-background:#FFF; /*Color de fondo de las secciones*/
  --main-opt-color:#333844; /*Color de fondo de las secciones*/


  --alt-background-1 : #F1F3F4;
  --alt-background-1-color-inverted: #333844;

  --alt-background-2 : #F1F3F4;
  --alt-background-2-color-inverted: #333844;

  --cms-background: #F1F3F4;
  --login-background:#F1F3F4;

  --input-background:#FFF;
  --input-color:#333844;
  --input-border-color:#E1E4E5;

  --menu-background:#FFF;
  --menu-color:#525252;
  --menu-accent-hover:#F1F3F4;

  --invalid-input-border: #ce1446;
}

html, body {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif !important;
  font-size:14px;
  background-color:var(--cms-background);
  color:#333844;
  overflow-x: hidden;
}

body {
  background:transparent;
}

.message {
  padding:30px;
  border:1px dashed rgba(0,0,0,.25);
}

.separator {
  border-bottom:1px solid rgba(0,0,0,.15);
}

.image-layer {
  -moz-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 150%;
  min-width: 100%;
}

.perspective {
  perspective: 1000px;
}


* {
  box-sizing: border-box;
  font-family: inherit;
}

a, a:hover, a:active {
  text-decoration:none;
  outline:none;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.bg-size, .bg-fix {
  background-size:cover !important;
  background-position: center !important;
}
.ovhidden {overflow: hidden;}
.shadow {box-shadow:0 1px 15px rgba(0,0,0,.15);}

.clear,.clearfix {clear:both;}
.b, .bold {font-weight:600;}
.bb, .bolder {font-weight:bolder;}
.nf,.nweight {font-weight:normal !important;}
.ls, .lf {
  font-weight: 300;
}
.italic {font-style: italic;}
.line-through {text-decoration: line-through;}
.incolor {color:inherit}
.underline {text-decoration: underline;}
.underline_h:hover {text-decoration: underline;}
.blackfont {color:#000;}
.whitefont {color:#fff;}
.bluefont {color:#315d9f !important;}
.whitebg {background:#fff;}
.fwidth {width:100% !important;}
.fwidthalt {width:100%;}
.w50 {width:50%}
.w33 {width:33.33333333%}
.w66 {width:66.66666666%}
.w50alt1 {width:calc(50% - 10px)}
.w50alt2 {width:calc(50% - 15px)}
.w25 {width:25%;}
.w25alt1 {width:calc(25% - 10px)}
.w25alt2 {width:calc(25% - 15px)}
.w20 {
  width:20%;
}
.hidden {
  display:none;
}

.fleft {float:left}
.fright {float:right}
.nofloat {float:none}
.rounded {border-radius:999px;}
.ctext {text-align:center;}
.ltext {text-align:left;}
.rtext {text-align:right;}
.justify{text-align: justify;}

.valign {vertical-align: middle;}
.vbalign {vertical-align: bottom}

.fssmall {font-size:.94em;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px;}
.fs16 {font-size:16px;}
.fs18 {font-size:18px;}
.fs20 {font-size:20px;}
.fs22 {font-size:22px;}
.fs24 {font-size:24px;}
.fs26 {font-size:26px;}
.fs30 {font-size:30px;}
.fs36 {font-size:36px;}
.fs48 {font-size:48px;}

.responsive {max-width:100%}
.responsive_h {max-height: 100%;}
.nomargin {margin:0;}
.block {display:block;}
.inline-block {display:inline-block;}
.inline {display:inline;}
.flex {display:flex;}
.hide {display:none;}
.anim {transition:500ms;}
.anim2x {transition:250ms;}
.anim-alt:hover {transition:500ms;}
.anim2x-alt:hover {transition:250ms;}
.disable-events {pointer-events: none;}

.upp {text-transform: uppercase;}
.cap {text-transform: capitalize;}
.cap2::first-letter {text-transform: uppercase;}
.lower {text-transform: lowercase;}

.pointer {cursor:pointer;}
.help {cursor:help;}

.absolute {position:absolute;}
.relative {position:relative;}
.fixed {position:fixed;}

.hor-text {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mbot5, .mbot {margin-bottom:5px}
.mbot10 {margin-bottom:10px}
.mbot15 {margin-bottom:15px}
.mbot20 {margin-bottom:20px}
.mbot25 {margin-bottom:25px}
.mbot30 {margin-bottom:30px}
.mbot40 {margin-bottom:40px}
.mbot50 {margin-bottom:50px}

.mtop5, .mtop {margin-top:5px}
.mtop10 {margin-top:10px}
.mtop15 {margin-top:15px}
.mtop20 {margin-top:20px}
.mtop25 {margin-top:25px}
.mtop30 {margin-top:30px}
.mtop40 {margin-top:40px}
.mtop50 {margin-top:50px}

.radius {border-radius:2px}
.radius2 {border-radius:3px}
.radius3 {border-radius:5px}

.regpad {padding:10px;}
.regpad2 {padding:15px;}
.regpad3 {padding:20px;}
.regpad4 {padding:25px;}
.regpad5 {padding:30px;}

.sublime-text {
  color:#BBCCD5;
}


input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}



/* Elementos de interfaz */

input[type="text"], input[type="password"], input[type="number"], textarea, #tags_addTag input, input[type="email"] {
  background:var(--input-background);
  height:40px;
  line-height:40px;
  display:inline-block;
  border-radius:3px;
  border:1px solid var(--input-border-color);
  padding:0 10px;
  font-family: system-ui, 'Open Sans', sans-serif !important;
  color:var(--input-color);
}

.button {
  background: var(--main-user-color);
  color:var(--main-user-color-inverted);
  box-shadow:0 5px 0 #3187ce;
  font-weight: 600;
  height:35px;
  font-family: inherit !important;
  line-height:35px;
  display:inline-block;
  border-radius:3px;
  padding:0 30px;
  border:0 none;
  cursor:pointer;
  text-align:center;
  font-size:.94em;
}

.button:hover {
  text-decoration: none;
  color:currentcolor;
}

.custom-select {
  background-color:var(--input-background);
  color:var(--input-color);
}



.green-button {
  background:#55a28e;
  box-shadow:0 5px 0 #468473;
}

.alt-button-1 {
  background:var(--alt-background-1);
  color:var(--alt-background-1-color-inverted);
}
.alt-button-2 {
  background:var(--alt-background-2);
  color:var(--alt-background-2-color-inverted);
}

svg {
  fill:currentcolor;
}

.special-button {
  display:inline-block;
  padding:0 30px;
  line-height:40px;
  height:40px;
  border:1px solid rgba(255,255,255,1);
  color:var(--main-user-color-inverted);
  border-radius:30px;
  text-transform: uppercase;
}

.icon-button {
  padding:0 15px;
  /* width:40px; */
}


input[type="submit"].cancel, button.cancel, .button.cancel, input[type="reset"].cancel {
  background:#ebebeb;
  border-color:#d9d9d9;
  box-shadow:0 5px 0 #b5b5b5;
  color:#999;
}

.input-group input {
  border-radius:0 3px 3px 0 ;
}

.custom-checkbox input {
  display:none;
}

.custom-checkbox label {
  display:inline-block;
  vertical-align: text-bottom;
  vertical-align: -webkit-baseline-middle;
  position:relative;
  width:20px;
  height:20px;
  border:2px solid var(--input-border-color);
  border-radius:3px;
  cursor:pointer;
}

.custom-checkbox input:checked ~ label {
  background:var(--main-user-color);
  border-color:var(--main-user-color);
}

.custom-checkbox input:checked ~ label:after {
    content: " ";
    position:absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid var(--main-user-color-inverted);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index:9;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px var(--main-user-color-inverted) inset;
}

input:invalid, textarea:invalid, select:invalid {
  border-color:var(--invalid-input-border);
}

.tag {
  border-radius:3px;
  background:var(--main-user-color);
  line-height:30px;
  height:30px;
  padding:0 10px;
  display:inline-block;
  color:var(--main-user-color-inverted);
  font-size:12px;
  margin-right:5px;
  margin-bottom:10px;
}

.tag a {
  color:#FFF;
  font-weight:600;
}
