@media screen and (max-width: 768px) {
  .container {
    width:calc(100% - 30px) !important;
    margin:0 auto !important;
    padding:0 !important;
  }

  .user-menu:before {
    display:none;
  }


  #site-sidebar {
    min-height:1px !important;
  }

  .header-name {
    margin-bottom:10px;
  }
}
