@media print {

  #editor-tabs, #site-header,#cms-header, #gradient {
    display:none;
  }
  .tab-content {
    display:block !important;
    page-break-inside:avoid;
  }

  .container {
    margin:0;
    width:100% !important;
    padding:0 !important;
  }

  body {
    background:#FFF !important;
  }

}
