
@-webkit-keyframes glow {
     0%  {transform:translateX(-100%);}
    100% {transform: rotate(-50deg) translateX(20%);}
}
@keyframes glow {
   0%   {transform:translateX(-100%);}
   100% {transform: rotate(-50deg) translateX(20%);}
}
@-webkit-keyframes appear {
     0%  {opacity:0;transform:translateY(-100%);}
    100% {opacity:1;transform:translateY(0);}
}
@keyframes appear {
  0%  {opacity:0;transform:translateY(-100%);}
 100% {opacity:1;transform:translateY(0);}
}

#generic-section {
  margin:30px 0;
}

/*Login*/

.login-screen {

}

.login-screen:before {
  content:" ";
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(29, 33, 47,.9);
  z-index:3;
}
.login-screen:after {
  content:" ";
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000 url('../img/daily_background.png') no-repeat center;
  background-size: cover !important;
  filter: blur(15px);
  z-index:2;
}

.login-screen body{
  background:transparent !important;
}

#login-form {
  width:400px;
  max-width: calc(100% - 40px);
  margin:4.5% auto 0;
  transition: .6s;
  position:relative;
  z-index:3;
}

.login-inner {
  padding:60px;
  background:#FFF;
}

.login-inner input[type="text"], .login-inner input[type="password"] {
  background:transparent;
}


.login-avatar {
  width:96px;
  height:96px;
  background:#f1f3f4;
  border:5px solid #EDF2F5;
  overflow: hidden;
}



.login-avatar.loaded:after {
  content: " ";
  position:absolute;
  left:-50%;
  right:-50%;
  top:-50%;
  pointer-events: none;
  bottom:-50%;
  transform:translateX(-100%);
  background: radial-gradient(circle farthest-side at 0 0, rgba(255,255,255,0) 80%,rgba(255,255,255,.8) 98%,rgba(255,255,255,0) 100%) no-repeat;
}

 .login-avatar.loaded:after {
  -webkit-animation-name: glow;
  animation-name: glow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.welcome-login.loaded {
  -webkit-animation-name: appear;
  animation-name: appear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


#login-form input[type="submit"]{
  margin:0 auto;
  display:block;
}

.show-remember #login-form {
  transform:scale(0.1);
  opacity:0;
}

#password-forget {
  transition:.8s;
  top:0;
  right:0;
  left:0;
  position:fixed;
  padding:60px;
  z-index:999;
  width:400px;
  max-width: calc(100% - 40px);
  margin:2.5% auto;
  opacity:0;
  transition: 1s;
  transform:translateY(200%) scale(.5) rotateX(-73deg);
}

#password-forget .padlock {
  color:rgba(0,0,0,.15);
}

.show-remember #password-forget {
  opacity:1;
  transform:translateY(0) scale(1);
}


html:not(.login-screen) body {
  padding-bottom:51px; /*Depende del footer*/
  position:relative;
}

#main-content {
  padding:30px;
  margin-top:80px;
}


#cms-content {
  width:calc(100% - 80px);
  float:right;
}

#cms-menu {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:80px;
  background:#212535;
  box-shadow:5px 0 5px rgba(0,0,0,.25);
  z-index:99999;
  padding-top:20px;
}

#cms-menu ul {
  margin:0;
  padding:0;
}

#logo-menu {
  line-height:80px;
  height:80px;
  width:80px;
  background:var(--main-user-color-2);
}

#sidebar-links {
  margin-top:100px;
}

#sidebar-links i {
  vertical-align: middle;
}

#sidebar-links a {
  color:#E9E9EB;
  display:block;
}

#sidebar-links > ul > li > a  {
  padding:15px 0;
  font-size:0;
  font-weight:300 !important;
  text-shadow:0 1px 1px rgba(0,0,0,.25);
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-radius:0;
}


#sidebar-links > ul > li > a:before {
  content:attr(data-title);
  position:absolute;
  font-size:14px;
  left:calc(100% + 15px);
  background:#FFF !important;
  border-radius: 3px;
  z-index:9999;
  padding:0 10px;
  line-height:30px;
  min-height:30px;
  color:#333844;
  text-shadow:none;
  font-weight:600;
  pointer-events:none;
  transition:300ms;
  transform:translateX(-10px);
  top:calc(50% - 15px);
  opacity:0;
  box-shadow:0 1px 2px rgba(0,0,0,.25);
}

#sidebar-links > ul > li > a:hover {
  background:rgba(255,255,255,.125);
}

#sidebar-links > ul > li > a:after {
  content:" ";
  width:10px;
  height:10px;
  background:#FFF !important;
  position:absolute;
  left:calc(100% + 10px);
  pointer-events:none;
  transition:300ms;
  transform:translateX(-10px) rotate(45deg);
  top:calc(50% - 5px);
  opacity:0;
  box-shadow:0 1px 2px rgba(0,0,0,.25);
}

#sidebar-links > ul > li > a:hover:before, #sidebar-links > ul > li > a:hover:after {
  opacity:1;
  transform:none;
}
#sidebar-links > ul > li > a:hover:after {
  transform:translateX(0) rotate(45deg);
}
#sidebar-links > ul > li > a > i {
  display:block;
  font-size:24px;
}

#sidebar-links ul li {
  position:relative;
}

#sidebar-links > ul > li > a.active {
  color:#FFF;
  background:rgba(255,255,255,.125);
  border-left-color: var(--main-user-color-2);
}

#sidebar-links > ul > li > ul {
  background:var(--main-section-background);
  pointer-events: none;
  position:absolute;
  left:100%;
  top:0;
  display:block;
  transition:300ms;
  border-radius:3px;
  padding:10px 0;
  opacity:0;
  z-index:9999;
  transform:translateX(-10px);
}

#sidebar-links ul li:hover > ul {
  opacity: 1;
  transform:none;
  pointer-events: all;
}

#sidebar-links ul li > ul i {
  margin-right: 10px;
}

#sidebar-links > ul > li > ul li {
  display:block;
  width:100%;
  min-width:200px;
}

#sidebar-links > ul > li > ul li a {
  width:100%;
  line-height:20px;
  height:20px;
  padding:0 20px;
  text-align:left;
}


#sidebar-links > ul > li > ul {

}


/*Site header*/

#site-header {
  top:0;
  left:0;
  right:0;
  line-height:48px;
  height:80px;
  color:#F1F3F5;
  z-index:9999999;
  background-color:var(--main-section-background);
}

#header-content {
  padding:14px 0;
}



#site-logo {
  height:48px;
}

.header-link {
  padding:0 10px;
  display:inline-block;
  border-radius:3px;
  transition:100ms;
  margin-left:5px;
}

.header-link:hover {
  background:rgba(255,255,255,.25);
  text-decoration: none;
  color:#FFF;
}

.havatar, .header-avatar {
  line-height:48px;
  width:48px;
  height:48px;
  vertical-align: bottom;
}

.user-holder {
  padding-left:0;
  margin-left:15px;
}

.notificator .fa {
  font-size:20px;
}

#notifications {
  color:#333844;
  line-height:normal;
  width:450px;
  max-width:100vw;
  left:calc(50% - 225px);
  top:calc(100% + 10px);
  display:none;
  font-size:.94em;
}

#notif-title {
  padding:10px 15px;
  border-bottom:1px solid rgba(0,0,0,.1);
}

#notifications:before {
  content:" ";
  position:absolute;
  border:10px solid transparent;
  border-bottom-color:#FFF;
  left:calc(50% - 10px);
  top:-15px;
  z-index:-1;
}

.notif-with-thumb {
  float:left;
  width:calc(100% - 80px);
}

.notif-thumbnail {
  width:70px;
  float:right;
}

.notif-thumbnail img {
  border:1px solid rgba(0,0,0,.15);
}

#notifications.active {
  display:block;
}
.single-notification {
  padding:15px;
  border-bottom:1px solid rgba(0,0,0,.1);
  color:#3C3267;
}

.single-notification time {
  color:#A5A2B9;
}

.single-notification b {
  font-weight:600;
}

.single-notification:first-child {
  border-radius:3px 3px 0 0;
}

.single-notification:last-child {
  border-bottom:0 none;
  border-radius:0 0 3px 3px;
}

.single-notification.not-readed {
  background:#F1F3F4;
}

.loading-notifications {
  padding:15px;
}

.notif-balloon {
  background: var(--main-user-color);
  color: #FFF;
  width: 18px;
  height: 18px;
  font-size: 10px;
  line-height: 18px;
  top: 8px;
  right: 3px;
  border-radius: 50%;
}

.user-menu {
  min-width:230px;
  right:0;
  top:60px;
  display:none;
  padding:15px 0;
  background:var(--menu-background);
  line-height: normal;
  z-index:999999;
}

.n-icon {
  width:48px;
  padding:0;
}

.user-link {
  line-height:30px;
  color:var(--menu-color);
  padding:0 15px;
}

.user-link:hover, .notification:hover {
  background:var(--menu-accent-hover);
  color:var(--menu-color);
  text-decoration: none;
}


input[type="text"] {
  &::-webkit-input-placeholder {
    &:before {
      content:"asdad";
    }
  }
}


/* Main */

#cms-header {
  padding:0 0 15px;
  color:#333844 !important;
}

.header-name {
  font-size:24px;
  line-height:40px;
}

#gradient {
  background: linear-gradient(to right, rgba(52,175,241,1) 0%,rgba(101,149,209,1) 25%,rgba(165,116,167,1) 50%, rgba(238,78,119,1) 100%);
  height:3px;
  display:none;
}


#list-holder {
  padding:30px;
}

#list-content {
  width:100%;
  overflow-x: auto;
  border-radius:3px;
  border-right:1px solid #dfe2e5;
  border-collapse: collapse;
  /* overflow-x: auto; */
}

#ajax-search-input {
  padding-left:40px;
}


#search-placer:before {
  font-family:Font Awesome\ 5 Free;
  content:"\f002";
  font-weight: 900;
  position:absolute;
  left:15px;
  top:10px;
  opacity:.5;
  pointer-events: none;
}

#table-holder {
  padding:30px;
}

#table-list {
  border-collapse: collapse;
  width:100%;
  /* table-layout: fixed; */
}

#table-list thead {
  line-height:30px;
  text-transform: lowercase;
}

.cc-icon {
  width:40px;
  height:34px;
  background:#ccc;
  background-size:100% !important;
}

.cc-Visa {
  background:url('../img/credit-cards/029-visa.png') no-repeat;
}

.cc-MasterCard {
  background:url('../img/credit-cards/018-master-card.png') no-repeat;
}
.cc-Amex {
  background:url('../img/credit-cards/022-american-express.png') no-repeat;
}
.cc-Discover {
  background:url('../img/credit-cards/020-discover.png') no-repeat;
}
.cc-DinersClub {
  background:url('../img/credit-cards/025-dinners-club.png') no-repeat;
}

.icon-img {
  width:18px;
  vertical-align: middle;
}

.icon-img-s {
  vertical-align: middle;
  width:13px;
}

.rut.invalid {
  color:#ef3232;
  text-decoration: line-through;
}
.editor-th {
  width:100px;
}

.td-type-primary_key {
  text-align:center;
}


.td-actions {
  overflow: visible !important;
}

.actions-dropdown {
 min-width: 150px;
 right:15px;
 left:auto;
 border:0 none;
 box-shadow:0 1px 3px rgba(0,0,0,.25);
 background:var(--menu-background);
}

.actions-dropdown a {
  padding:0 15px;
  line-height:30px;
  color:var(--menu-color);
}

.actions-dropdown a:hover {
  background:var(--menu-accent-hover);
}


.th-id {
  text-transform: uppercase;
}
.th-id, .td-id {
  width:90px !important;
  text-align:center;
}

.list-pagination.bottom {
  margin-top:15px;
}

.ipp-label {
  line-height:33.5px;
  height:33.5px;
}


.list-pagination a {
  display:inline-block;
  line-height:30px;
  height:30px;
  padding:0 10px;
  text-decoration: none;
  background:#F1F3F4;
  color:#333844;
  border-radius:3px;
  margin:0 5px 0 0;
}

.list-pagination a:hover {
  background:var(--main-user-color);
  color:#FFF;
}

.list-pagination a.active {
  font-weight:600;
  background:var(--main-user-color);
  color:#FFF;
}

#table-list tr {
  border-collapse: collapse;
}
#table-list th {
  text-align: center;
  color:#24292e;
}

#table-list th, #table-list td {
  border:1px solid #dfe2e5;
  padding:6px 13px;
  white-space:nowrap;
  /* max-width: 180px; */
  overflow:hidden;
  text-overflow: ellipsis;
}

#table-list th:last-child, #table-list tr td:last-child {
    border-right:0 none;
}

#table-list tr:nth-child(even) {
  background:#F6F8FA;
}
#table-list tr:nth-child(even) .file-icon:after {
  border-top-color:#F6F8FA;
  border-right-color:#F6F8FA;
}

.file-table {
text-align: center;
}

.file-icon {
  width:35px;
  height:50px;
  background:#F1F2F4;
  border-radius:3px;
  display:inline-block;
  color:#99A8B8;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  word-wrap:break-word;
  line-height:50px;
}

.file-icon:after {
  content:" ";
  position:absolute;
  display:block;
  z-index:3;
  top:0;
  right:0;
  border-top:5px solid #FFF;
  border-right:5px solid #FFF;
  border-bottom:5px solid transparent;
  border-left:5px solid transparent;
}
.file-icon:before {
  content:" ";
  position:absolute;
  display:block;
  z-index:3;
  top:0;
  right:0;
  border-top:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:5px solid rgba(255,255,255,.35);
  border-left:5px solid rgba(255,255,255,.35);
  border-radius:3px;
}

.file-doc, .file-docx {
  background:#2B579A;
  color:#FFF;
}

.file-xml {
  background:#F29C1F;
  color:#FFF;
}

.file-xls, .file-csv {
  background:#207245;
  color:#FFF;
}

.file-ppt, .file-pptx {
  background:#D14424;
  color:#FFF;
}

.file-pdf {
  background:#E12025;
  color:#FFF;
}

.file-psd {
  background:#1D184C;
  color:#FFF;
}

.file-dll {
  background:#94104C;
  color:#FFF;
}

.file-txt {
  color:#333;
  box-shadow:0 0 1px 1px rgba(0,0,0,.25);
  background:#FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGUlEQVQYV2NkwAEY8UlIYZPEqwOraTh1AAAMYwAhWiWsawAAAABJRU5ErkJggg==);
  text-shadow:2px 2px 0px white, -2px -2px 0px white, -2px 2px 0px white, 2px -2px 0px white;
}

.file-txt:before, .file-txt:after {
  display:none;
}


.file-name {
  color:#333844;
  padding:0 10px;
  line-height:20px;
  height:20px;
  background:#F1F3F4;
  border-radius:3px;
  margin-top:5px;
}


.video-thumbnail {
  width:65px;
  background:#000;
}

.video-thumbnail:before {
  background: linear-gradient(135deg, rgba(255,255,255,.5) 0%,rgba(255,255,255,.5) 50%,transparent 51%,transparent 100%);
  content: "\f04b";
  font-family:Font Awesome\ 5 Free;
  font-weight:600;
  text-align: center;
  line-height: 65px;
  font-size:30px;
  position:absolute;
  left:0;
  right:0;
  color:#000;
  text-shadow:0 1px 1px rgba(0,0,0,.25);
  top:0;
  bottom:0;
  z-index:3;
}


td .video-thumbnail video {
  width:100%;
  height:100%;
}


/*Editor*/

#editor-tabs {
  padding:30px 0 0;
  z-index:100;
  /* height:40px; */
  word-wrap: break-word;
  white-space: nowrap;
  -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
 text-overflow: ellipsis;
}

.editor-tab {
  z-index:3;
  border:1px solid transparent;
  border-top-width:5px;
  line-height:35px;
  height:40px;
  padding:0 20px;
  color:rgb(137, 145, 150);
  margin-right:-5px;
  border-radius:3px 3px 0 0;
  text-decoration: none !important;
}

.editor-tab:nth-child(1) {
  margin-left:15px;
}


.editor-tab.active {
  background:var(--main-opt-background);
  color:var(--main-opt-color);
  pointer-events:none;
  border-color:rgba(0,0,0,.15);
  border-top-color:var(--main-user-color);
  box-shadow:0 1px 15px rgba(0,0,0,.15);
}

.editor-tab.active:after {
  content:" ";
  height:15px;
  background:var(--main-opt-background);
  position:absolute;
  bottom:-15px;
  left:0;
  right:0;
}

#show-tabs {
  display:none;
  right:0;
  bottom:2.5px;
  z-index:999;
  color:var(--main-user-color);
  width:35px;
  height:35px;
  line-height:35px;
  text-decoration: none;
  font-size:16px;
}
#show-tabs:hover {
  background: var(--main-user-color);
  color: var(--main-user-color-inverted)
}

#pending-tabs {
  right:0;
  top:100%;
  width:100%;
  background:var(--menu-background);
  z-index:100;
  padding:15px 0;
  display:none;
}

#pending-tabs .editor-tab {
  width:100%;
  float:none !important;
  display:block !important;
  border-radius:0;
  margin:0 !important;
  cursor:pointer;
}


#pending-tabs .editor-tab.active {
  border-color:var(--main-user-color);
  background: var(--main-user-color);
  color: var(--main-user-color-inverted)
}

#pending-tabs .editor-tab .error {
  position:relative !important;
  left:auto;
  right:auto;
  top:auto;
  bottom:auto;
  margin-left:10px;
}

.force-inline-block {
  display:inline-block !important;
}

#pending-tabs .editor-tab.active:after {
  display:none;
}


.tab-content {
  padding:20px 30px 15px;
  border:1px solid rgba(0,0,0,.15);
  display:none;
  margin:0 0 30px;
  z-index:99;
}

.row-editor {
  margin-bottom:15px;
}

.tab-content.active {
  display:block;
}

.content-item-type-primary_key {
  display:none;
}


.required-dot {
  color:red;
}


/*Especial types*/

.featherlight-content .disable-on-featherlight {
  pointer-events: none;
}

.featherlight-content .delete-image {
  display:none;
}

.featherlight-content .image-pl {
  margin-bottom:0 !important;
}

.image-pl.not-image {
  border:1px dashed var(--input-border-color);
  background:#F1F3F4;
  /* width:100px; */
}

.img-size {
  bottom:5px;
  right:5px;
  line-height:25px;
  padding:0 10px;
}

.delete-image {
  background:#FFF;
  top:10px;
  right:10px;
  line-height:21px;
  height:25px;
  width:25px;
}

.delete-image:hover {
  color:var(--main-user-color-inverted);
  background:var(--main-user-color);
}

.loaded-image .show {
  display:none;
}

.image-bg {
  background:url('../img/img-bg.png') repeat;
}

.custom-image-upload input {
  opacity:0;
  pointer-events:none;
}

.invalid-field {
  padding:10px;
  background:rgba(233, 45, 82,.15);
  border:1px dashed #e92d52;
}

.editor-tab .error {
  display:none;
  height:15px;
  width:15px;
  line-height:15px;
  background:var(--invalid-input-border);
  right:3px;
  top:3px;
  color:#FFF;
  font-size:10px;
  border-radius:99px;
}



#tags_tagsinput, #tags_addTag input {
  width:100% !important;
  height: auto !important;
  min-height:0 !important;
}

.tagsinput {
  width:100 !important;
}


#site-footer {
  padding:15px 0;
  left:0;
  right:0;
  bottom:0;
  background:var(--main-section-background);
  display:none;
}

/*Errors pages*/
#maintenance {
  margin:5% auto;
}

#not-found {
  background:#0F1E2A;
}
#not-found-content {
  margin:12% auto;
}

/*Home page*/
.home-widget {
  padding:20px;
}

/*Extras*/
.expanded-modal {
  width:800px;
  height:400px;
  max-width:100vw;
  max-height:500vh;
}
/* .small-modal {
  width:400px;
  max-width:100%;
  max-height:500vh;
} */

#prof_editor_img {
  height:80px;
  width:80px;
  border-radius:999px;
  bottom:-40px;
  left:calc(50% - 40px);
}

#editor-form {
  padding:0 15px;
}

.editor-head {
  background:#CECECE url('../img/patterns/p2.png') repeat;
  margin:-15px -15px 50px;
  border-radius:3px 3px 0 0;
  height:100px;
  width:calc(100% + 30px);
}

body > .hidden-in-body {
  display:none;
}
