@media screen and (max-width: 1200px) {


  #cms-header, #site-header, #site-menu {
    margin-bottom:-1px;
  }


  .container {
    width:calc(100% - 60px) !important;
    margin:0 auto !important;
    padding:0 !important;
  }
}
@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 991px) {
  .header-name {
    margin-bottom:10px;
  }
}
